#!/bin/bash
set -e
## appboot-wrapper
##    Single entrypoint, multiple possibilities.

. {{ foundation_supportroot }}/config/env-global
configscript app-fetch
configscript app-configure
configscript app-start