#!/bin/bash
set -ex
TEMPLATE=${1}
BACKEND=${2:-ssm}
ZONE=${3}

. {{ foundation_supportroot }}/config/env-global

if [ -z "${TEMPLATE}" ]; then
    echo "Usage: ${0} template_name"
    exit 1
fi

if [ ! -f {{ foundation_supportroot }}/config/${TEMPLATE} ]; then
    echo "{{ foundation_supportroot }}/config/${TEMPLATE} file does not exist"
    exit 1
fi


TMP_SCRIPT=$(mktemp)
cat {{ foundation_supportroot }}/config/${TEMPLATE} | configfile ${BACKEND} ${ZONE} > ${TMP_SCRIPT}
chmod +x ${TMP_SCRIPT}
${TMP_SCRIPT} > ~/template.log

rm -f ${TMP_SCRIPT}